extends layout.pug

block content
    div(class='page-header')
        h3 Вход
        a(href='/register') Зарегистрироваться
    form(action='/login', method='POST')
        div(class='form-group')
            label Логин
            input(type='text', class='form-control', name='login')
        div(class='form-group')
            label Пароль
            input(type='password', class='form-control', name='password')
        button(type='submit', class='btn btn-primary') Войти

    -if (messages.error)
        div(class='alert alert-warning')
            span=messages.error
